<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lectureapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lectureapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lectureapi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:exmift5r6d.database.windows.net,1433;Initial Catalog=lectureDB;User ID=wepoadmin@exmift5r6d;Password=Jesus2013" Name="Data Source=tcp:exmift5r6d.database.windows.net,1433;Initial Catalog=lectureDB;User Id=wepoadmin@exmift5r6d;Password=Jesus2013" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MvcAngular.Web.Models.AppDataContext, MvcAngular.Web" MigrationConfiguration="MvcAngular.Web.Migrations.Configuration, MvcAngular.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:exmift5r6d.database.windows.net,1433;Initial Catalog=lectureDB;User ID=wepoadmin@exmift5r6d;Password=Jesus2013" Name="Data Source=tcp:exmift5r6d.database.windows.net,1433;Initial Catalog=lectureDB;User Id=wepoadmin@exmift5r6d;Password=Jesus2013" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=exmift5r6d.database.windows.net,1433;Initial Catalog=LectureDB;User ID=wepoadmin;Password=Jesus2013" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=exmift5r6d.database.windows.net,1433;Initial Catalog=LectureDB;User ID=wepoadmin;Password=Jesus2013" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:exmift5r6d.database.windows.net,1433;Initial Catalog=lectureDB;User Id=wepoadmin@exmift5r6d;Password=Jesus2013</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:exmift5r6d.database.windows.net,1433;Initial Catalog=lectureDB;User Id=wepoadmin@exmift5r6d;Password=Jesus2013</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>