@{
    ViewBag.Title = "Index";
}

<div class="container" ng-app="myApp" ng-controller="PageCtrl">

    <div class="thebox row">
        <div class="titlebar span12">
            <h3>WEPO 2013    - {{ name }} </h3>        
         </div>
        <div class="addLecture span12">
            <p>Titill: </p><input type="text" /> <p>URL: </p></p><input type="url" /> <i class="icon-plus icon-2x"></i>
        </div>
        <div class="lecturelist span12">
<<<<<<< HEAD

=======
>>>>>>> 9b80ff280618948e93a2c8de0ac6d433c4be62de
            <div class="accordion" id="lectureList">
                <div class="accordion-group" ng-repeat="lecture in lectures" lecture-repeat-directive>
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#lectureList" href="#lecture{{lecture.ID}}">{{lecture.LectureTitle}}<span class="pull-right">{{lecture.TeacherName}}</span></a>
                    </div>
                    <div id="lecture{{lecture.ID}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <div class="span6">
                                    <iframe width="560" height="315" src="{{lecture.LectureURL}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="span6">
                                    <a href="#" class="pull-right">Edit <i class="icon-pencil"></i></a>
                                    <ul class="comments clearfix">
                                        <li ng-show="!lecture.comments.length">No comments.</li>
                                        <li ng-repeat="comment in lecture.comments">
                                            <a href="#">{{comment.Name}}</a>
                                            <p class="comment">{{comment.CommentText}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of accordion -->
<<<<<<< HEAD

=======
>>>>>>> 9b80ff280618948e93a2c8de0ac6d433c4be62de

        </div>
    </div>

    

    <footer>
        <p>&copy; MiNiGOD&OLiNN inc. 2013</p>
    </footer>

</div> <!-- /container -->

@section scripts {
    <script src="@Url.Content("~/Scripts/app/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/services.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/controllers.js")" type="text/javascript"></script>
}
