@{
    ViewBag.Title = "Lecture API";
}



       
<div class="container" ng-app="myApp" ng-controller="PageCtrl">

    <div class="thebox row">
        <div class="titlebar span12">
            <h3> <i class="icon-facetime-video icon-large" id="vidIcon"></i>  WEPO 2013 </h3>
         </div>
        <div class="addLecture span12">
            <form ng-submit="newLecture()">
                <p>Titill: </p><input type="text" ng-model="newLectureTitle" />
                <p>URL: </p><input type="url" ng-model="newLectureURL" />
                <button class="btn icon-plus" ng-click="submit()"></button>
            </form>
        </div>

        <div class="lecturelist span12">

            <div class="accordion" id="lectureList">
                <div class="accordion-group" ng-repeat="lecture in lectures" lecture-repeat-directive>
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#lectureList" href="#lecture{{lecture.ID}}" ng-cloak>{{lecture.LectureTitle}}
                           <span class="pull-right">{{lecture.PubDate|timeAgo}} - {{lecture.TeacherName}}</span></a>
                    </div>
                    <div id="lecture{{lecture.ID}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                <div class="span6">
                                    <iframe width="100%" height="315" src="{{lecture.LectureURL}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="span6 ">
                                    <a href="#" class="pull-right" ng-click="editing = !editing">Edit <i class="icon-pencil"></i></a>
                                    <div ng-show="editing">
                                        <p>
                                            <input type="text" ng-model="lecture.LectureTitle" />
                                            <input type="text" ng-model="lecture.LectureURL" />
                                        </p>
                                        <p>
                                            <button class="btn" ng-click="editing = false">Cancel</button>
                                            <button class="btn btn-success" ng-click="lecture.$update(); editing = false">Save</button>
                                            <button class="btn btn-danger" ng-click="lecture.$delete(); editing = false">Delete</button>
                                        </p>
                                    </div>
                                    <ul class="comments clearfix">
                                        <li ng-repeat="comment in lecture.comments">
                                            <p><strong>{{comment.Name}}</strong> <em>{{ comment.CommentTime|timeAgo }}</em></p>
                                            <p class="comment">{{comment.CommentText}}</p>
                                        </li>
                                        <li ng-show="!lecture.comments.length">No comments.</li>
                                        <li>
                                            <form ng-submit="newComment(lecture, this)">
                                                <p>
                                                    <label for="commentName">Nick:</label><input type="text" id="commentName" ng-model="newCommentName" required />
                                                    <label for="commentText">Comment:</label><input type="text" id="commentText" ng-model="newCommentText" required />
                                                    <button class="btn btn-primary" ng-click="submit()" >Submit</button>
                                                </p>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End of accordion -->

        </div>
    </div>

    

    <footer>
        <p>&copy; MiNiGOD&OLiNN inc. 2013</p>
    </footer>

</div> <!-- /container -->

@section scripts {
    <script src="@Url.Content("~/Scripts/app/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/services.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/controllers.js")" type="text/javascript"></script>
}
