

/* ==========================================================================
   Custom CSS
   ========================================================================== */


#commentText {
	width: 400px;
}

.addLecture p {
	font-weight:bold;
	display: inline;
	
}

body {

	background-color:#3a6382;
}
#content {
	width: 900px;
}

.comments li {
    list-style: none;
    border-top: 1px solid #ddd;
}

.comments li:first-child {
    border-top: 0px none;
}


.thebox {

	
	background-color: #f7f7f7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.titlebar h3 {
	margin-left:10px;

	
}

.lecturelist {


}

.addLecture { 
	margin-bottom: 5px;
	

}



footer {

	float:left;
	margin-left: 20%;
}

/* Large desktop */
@media (min-width: 1200px) { 
	.addLecture p {

	display: inline;
	font-size: 100%;
				  }

	input[type="text"]
	{
		height:15px;
		font-size:12px;
		margin-bottom: 5px;
	}

	input[type="url"]
	{
		height:15px;
		font-size:12px;
		margin-bottom: 5px;
	}
	i 
	{ font-size: 40px;
	  
	}


 }

 
/* Portrait tablet to landscape and desktop */
@media  (max-width: 979px) { 
	.addLecture p 
	{
	display: inline;
	font-size: 100%;
	}

	input[type="text"]
	{
		height:15px;
		font-size:12px;
		margin-bottom: 5px;
	}

	input[type="url"]
	{
		height:15px;
		font-size:12px;
		margin-bottom: 5px;
	}
	i 
	{ font-size: 16px;}



	h3 
	{
		font-size: 20px;
	}

	#commentText {
	width: 300px;
	}



}

 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.addLecture p
	 {
		
		font-size: 80%;
		
	} 

	h3 
	{
		font-size: 18px;
	}

	input[type="text"],input[type="url"]
	{

		height:16px;
		font-size:12px;
		margin-bottom: 3px;
		width:150px;
		
	}

	i 
	{ font-size: 16px;}

	#commentText {
	width: 250px;
	}

	#lectureTitleBar { 
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		width:300px;
		display:inline-block;
					}

	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	.addLecture p
	 {
		
		font-size: 70%;
		display:block;
		margin-left: 15px;
	} 


	input[type="text"],input[type="url"]
	{

		height:16px;
		font-size:12px;
		margin-bottom: 3px;
		width:150px;
		
	}


	
	i 
	{ font-size: 16px;}
	h3 
	{
		font-size: 12px;
	}

	#commentText {
	width: 200px;
	}

	#commentName {
	width: 100px;
	}

	#lectureTitleBar { 
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
		width:130px;
		display:inline-block;


					}

 }
















